@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap');

/* Reset browser level CSS and body font */
*{
    margin: 0;
    padding : 0;
    border: none;
}

body{
    font-size: 16;
    background-color: #0066ff;
    font-family: Lato, 'sans-serif';
}

/*Headings and Logos*/
h1, h2{
    font-family: Orbitron, 'sans-serif';
    text-transform: uppercase;
    font-weight: 50;
    letter-spacing: 1px;
    color: #202020
}


/*Main web page structure*/
.main-box{
    text-align: center;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.main-box-color{
    background-color: #10be00;
}

#game-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-input{
    width: 40%;
    height: 20px;
    margin: 10px 5px 10px 30px;
    border: 1px solid #111111;
    border-radius: 5px;
}

label{
    padding-left: 5px;
}

.play-button{
    text-decoration: none;
    background-color: #ff0000;
    font-size: large;
    color: #111111;
    border-radius: 5px;
    padding: 5px;
}

.play-button:hover{
    background-color: #ffffff;
    color: #ff0000;
}

.label-div{
    text-align: left;
}