@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron&display=swap');

/* Reset browser level CSS and body font */
*{
    margin: 0;
    padding : 0;
    border: none;
}

body{
    font-size: 16;
    background-color: #d3f3e378;
    font-family: Lato, 'sans-serif';
}

/*Headings and Logos*/
h1, h2{
    font-family: Orbitron, 'sans-serif';
    text-transform: uppercase;
    font-weight: 50;
    letter-spacing: 1px;
    color: #202020
}


/*Main web page structure*/
.main-box{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-box-color{
    background-color: #ffffff;
}

#form-box{
    text-align: center;
    height: 40%;
    width: 100%;
    flex-grow: 1;
}

/*Styles for form on sign up page and clickable buttons*/
.form-input{
    background-color: rgb(240, 240, 240);
    width: 40%;
    height: 20px;
    margin: 10px 5px 10px 30px;
    border: 1px solid #111111;
    border-radius: 5px;
}

#name-form div{
    margin-top: 1%;
    margin-bottom: 1%;
}

label{
    padding-left: 5px;
}

.label-div{
    text-align: left;
}

.play-button{
    text-decoration: none;
    background-color: #ff0000;
    font-size: large;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.play-button:hover{
    background-color: #ff6464;
    color: #ffffff;
}

/*Styles for spans containing incorrect and correct scores on the quiz page*/
#result-box{
    width: 96%;
    height: 25%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

#game-box{
    text-align: center;
    height: 40%;
    width: 100%;
    flex-grow: 2;
}

#game-question-box{
    margin-bottom: 1%;
    padding: 10px;
}

#game-options-box{
    text-align: left;
    padding: 10px;
}

.option-list{
    list-style-type: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-bottom: 2%;
}

#result-box p{
    padding: 5px;
}

#submit-box{
    width: 100%;
    flex-grow: 3;
    padding: 10px;
}

#counter-box{
    width: 100%;
    flex-grow: 4;
    display: flex;
}

/* Media Queries */
@media screen and (max-width: 405px){
    h1,h2,p{
        font-size: 17px;
        padding: 10px;
    }

    #result-box{
        display: flex;
        flex-direction: column;
    }

    .form-input{
        width: 75%;
    }

    #name-form div{
        padding: 5%;
        display: flex;
        flex-direction: column;
    }

    #game-options-box{
        text-align: center;
    }

    .play-button{
        margin: 2%;
    }
}